<head data-sly-use.clientLib="${'/libs/granite/sightly/templates/clientlib.html'}">
<!--<cq:includeClientLib categories="apps.geometrixx-media.all"/>  -->
<css data-sly-call="${clientLib.css @ categories=['finalproject.twittertweets']}" data-sly-unwrap/> </css>  </head>
<js data-sly-call="${clientLib.js @ categories=['finalproject.twittertweets']}" data-sly-unwrap/> </js>
<dl data-sly-use.info1="org.sixdimensions.finalproject.core.models.Info"  data-sly-test.sbvalue="${info1.sbb}"> </dl>    

<!-- 
<div data-sly-test.author="${wcmmode.edit || wcmmode.design}">
    Show this to the author
</div>
<div data-sly-test="${!author}">
      Not in author mode anymore.. 
    <js data-sly-call="${clientLib.js @ categories=['finalproject.twittertweets']}" data-sly-unwrap/> </js>
</div>
-->

<!--<link href='http://fonts.googleapis.com/css?family=Quicksand:300,400' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Lato:400,300' rel='stylesheet' type='text/css'>
	 <link href="http://netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">  -->

<div class="first" id="header${sbvalue}" style="background-color:${ properties['jcr:hbgcolor'] @ context = 'html' }"> 
			 Twitter Tweets
			<span class="icon-edit new"></span>
		</div>
 <input type="hidden" id="searchval${sbvalue}" value="${ properties['jcr:search'] @ context = 'text' }">

 <input type="hidden" id="tweetsnum${sbvalue}" value="${ properties['jcr:tweets'] @ context = 'number' }">

 <input type="hidden" id="classval" value="${sbvalue}">

 <input type="hidden" id="sval" value="${ properties['jcr:search'] @ context = 'text' }">

 <input type="hidden" id="tcolor${sbvalue}" value="${ properties['jcr:tbgcolor'] @ context = 'html' }">  

<div id="twittertweet" class="timeline" style="background-color:${ properties['jcr:bbgcolor'] @ context = 'html' }">
		<ul  style="list-style: none;" >
			<li>
				<div class="${sbvalue}" id="jstwitter">
				</div>
			</li>
		</ul>
</div>

<div class="footer" style="background-color:${ properties['jcr:hbgcolor'] @ context = 'html' }">
<a href = "javascript:void(0);" class="white" onClick = "loadMoreTweets('${sbvalue @ context = 'text' }');" >Load Latest</a>

</div>